<html>
    <head>
        <title>Sample Web Form</title>
    </head>
<body>

<h1>Fill Out This Form</h1>

<form action="/zestimate/" method="POST">
    Address: <input type="text" name="address">
    <br/>
    City, state, zip: <input type="text" name="citystatezip">
    <br/>
    <input type="submit">
</form>

</body>
</html>